<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>

<!--      <div class="imgcontainer">-->
<!--         <img src="/assets/compny.jpeg" alt="Image" class="image">-->

     <div class="login-container">
         <div class="imgcontainer">
                    <img src="/assets/compny.jpeg" alt="Image" class="image">
              </div>
        <h1>Login</h1>
        <form>
            <input type="email" placeholder="Username" required>
            <input type="password" placeholder="Password" required>
             <button onclick="showpage()">login</button>
        </form>
        <a href="#">Forgot your password?</a>
    </div>
   <script>
        function showpage() {
            window.location.href="test.html";
        }
    </script>
  <script src="/js/app.js"></script>
</body>
</html>
